<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>centeredOrigin</key>
	<false/>
	<key>fileType</key>
	<string>SweetPomeII UIEditor</string>
	<key>fileVersion</key>
	<integer>1</integer>
	<key>nodeGraph</key>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array/>
				<key>class</key>
				<string>GUISprite</string>
				<key>properties</key>
				<dict>
					<key>anchorPoint</key>
					<array>
						<real>0.5</real>
						<real>0.5</real>
					</array>
					<key>contentSize</key>
					<array>
						<real>480</real>
						<real>320</real>
					</array>
					<key>customClass</key>
					<string></string>
					<key>isExpanded</key>
					<false/>
					<key>isRelativeAnchorPoint</key>
					<true/>
					<key>refPointType</key>
					<integer>0</integer>
					<key>lockedScaleRatio</key>
					<false/>
					<key>memberVarAssignmentName</key>
					<string>Node14</string>
					<key>memberVarAssignmentType</key>
					<integer>0</integer>
					<key>position</key>
					<array>
						<real>240</real>
						<real>165</real>
					</array>
					<key>positionRelative</key>
					<array>
						<real>0.5</real>
						<real>0.515625</real>
					</array>
					<key>bUseRelativePos</key>
					<false/>
					<key>bAutoScale</key>
					<false/>
					<key>rotation</key>
					<real>0</real>
					<key>scale</key>
					<real>1</real>
					<key>scaleX</key>
					<real>1</real>
					<key>scaleY</key>
					<real>1</real>
					<key>tag</key>
					<integer>-1</integer>
					<key>visible</key>
					<true/>
					<key>zOrder</key>
					<integer>0</integer>
					<key>actions</key>
					<array/>
					<key>blendFunc</key>
					<array>
						<integer>770</integer>
						<integer>771</integer>
					</array>
					<key>color</key>
					<array>
						<integer>255</integer>
						<integer>255</integer>
						<integer>255</integer>
					</array>
					<key>flipX</key>
					<false/>
					<key>flipY</key>
					<false/>
					<key>opacity</key>
					<integer>255</integer>
					<key>spriteFile</key>
					<string>background3.png</string>
					<key>spriteFramesFile</key>
					<string></string>
				</dict>
			</dict>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>children</key>
						<array/>
						<key>class</key>
						<string>GUIMenuItemImage</string>
						<key>properties</key>
						<dict>
							<key>anchorPoint</key>
							<array>
								<real>0.5</real>
								<real>0.5</real>
							</array>
							<key>contentSize</key>
							<array>
								<real>48</real>
								<real>48</real>
							</array>
							<key>customClass</key>
							<string></string>
							<key>isExpanded</key>
							<false/>
							<key>isRelativeAnchorPoint</key>
							<true/>
							<key>refPointType</key>
							<integer>0</integer>
							<key>lockedScaleRatio</key>
							<false/>
							<key>memberVarAssignmentName</key>
							<string>exit</string>
							<key>memberVarAssignmentType</key>
							<integer>0</integer>
							<key>position</key>
							<array>
								<real>-26</real>
								<real>-189</real>
							</array>
							<key>positionRelative</key>
							<array>
								<real>0</real>
								<real>0</real>
							</array>
							<key>bUseRelativePos</key>
							<false/>
							<key>bAutoScale</key>
							<false/>
							<key>rotation</key>
							<real>0</real>
							<key>scale</key>
							<real>1</real>
							<key>scaleX</key>
							<real>1</real>
							<key>scaleY</key>
							<real>1</real>
							<key>tag</key>
							<integer>-1</integer>
							<key>visible</key>
							<true/>
							<key>zOrder</key>
							<integer>0</integer>
							<key>actions</key>
							<array/>
							<key>opacity</key>
							<integer>255</integer>
							<key>javaScript</key>
							<string>ButtonEvent15</string>
							<key>color</key>
							<array>
								<integer>255</integer>
								<integer>255</integer>
								<integer>255</integer>
							</array>
							<key>selector</key>
							<string></string>
							<key>spriteFileDisabled</key>
							<string>close@2x.png</string>
							<key>spriteFileNormal</key>
							<string>close@2x.png</string>
							<key>spriteFileSelected</key>
							<string>close@2x.png</string>
							<key>spriteFramesFile</key>
							<string></string>
						</dict>
					</dict>
				</array>
				<key>class</key>
				<string>GUIMenu</string>
				<key>properties</key>
				<dict>
					<key>anchorPoint</key>
					<array>
						<real>0.5</real>
						<real>0.5</real>
					</array>
					<key>contentSize</key>
					<array>
						<real>0</real>
						<real>0</real>
					</array>
					<key>customClass</key>
					<string></string>
					<key>isExpanded</key>
					<false/>
					<key>isRelativeAnchorPoint</key>
					<false/>
					<key>refPointType</key>
					<integer>0</integer>
					<key>lockedScaleRatio</key>
					<false/>
					<key>memberVarAssignmentName</key>
					<string>Node16</string>
					<key>memberVarAssignmentType</key>
					<integer>0</integer>
					<key>position</key>
					<array>
						<real>252.75</real>
						<real>256.799987792969</real>
					</array>
					<key>positionRelative</key>
					<array>
						<real>0.526562511920929</real>
						<real>0.8024999499320979</real>
					</array>
					<key>bUseRelativePos</key>
					<false/>
					<key>bAutoScale</key>
					<false/>
					<key>rotation</key>
					<real>0</real>
					<key>scale</key>
					<real>1</real>
					<key>scaleX</key>
					<real>1</real>
					<key>scaleY</key>
					<real>1</real>
					<key>tag</key>
					<integer>-1</integer>
					<key>visible</key>
					<true/>
					<key>zOrder</key>
					<integer>0</integer>
					<key>actions</key>
					<array/>
					<key>accelerometerEnabled</key>
					<integer>0</integer>
					<key>keyboardEnabled</key>
					<integer>1</integer>
					<key>mouseEnabled</key>
					<integer>0</integer>
					<key>touchEnabled</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>children</key>
						<array/>
						<key>class</key>
						<string>GUIMenuItemLabel</string>
						<key>properties</key>
						<dict>
							<key>anchorPoint</key>
							<array>
								<real>0.5</real>
								<real>0.5</real>
							</array>
							<key>contentSize</key>
							<array>
								<real>194</real>
								<real>50</real>
							</array>
							<key>customClass</key>
							<string></string>
							<key>isExpanded</key>
							<false/>
							<key>isRelativeAnchorPoint</key>
							<true/>
							<key>refPointType</key>
							<integer>0</integer>
							<key>lockedScaleRatio</key>
							<false/>
							<key>memberVarAssignmentName</key>
							<string>Node19</string>
							<key>memberVarAssignmentType</key>
							<integer>0</integer>
							<key>position</key>
							<array>
								<real>7</real>
								<real>-25</real>
							</array>
							<key>positionRelative</key>
							<array>
								<real>0</real>
								<real>0</real>
							</array>
							<key>bUseRelativePos</key>
							<false/>
							<key>bAutoScale</key>
							<false/>
							<key>rotation</key>
							<real>0</real>
							<key>scale</key>
							<real>1</real>
							<key>scaleX</key>
							<real>1</real>
							<key>scaleY</key>
							<real>1</real>
							<key>tag</key>
							<integer>-1</integer>
							<key>visible</key>
							<true/>
							<key>zOrder</key>
							<integer>0</integer>
							<key>actions</key>
							<array/>
							<key>opacity</key>
							<integer>255</integer>
							<key>javaScript</key>
							<string>ButtonEvent19</string>
							<key>color</key>
							<array>
								<integer>255</integer>
								<integer>255</integer>
								<integer>255</integer>
							</array>
							<key>labelText</key>
							<string>HelloWorld</string>
							<key>fontName</key>
							<string>Arial</string>
							<key>fontSize</key>
							<integer>20</integer>
							<key>disabledColor</key>
							<array>
								<integer>255</integer>
								<integer>255</integer>
								<integer>255</integer>
							</array>
						</dict>
					</dict>
				</array>
				<key>class</key>
				<string>GUIMenu</string>
				<key>properties</key>
				<dict>
					<key>anchorPoint</key>
					<array>
						<real>0.5</real>
						<real>0.5</real>
					</array>
					<key>contentSize</key>
					<array>
						<real>0</real>
						<real>0</real>
					</array>
					<key>customClass</key>
					<string></string>
					<key>isExpanded</key>
					<false/>
					<key>isRelativeAnchorPoint</key>
					<false/>
					<key>refPointType</key>
					<integer>0</integer>
					<key>lockedScaleRatio</key>
					<false/>
					<key>memberVarAssignmentName</key>
					<string>Node20</string>
					<key>memberVarAssignmentType</key>
					<integer>0</integer>
					<key>position</key>
					<array>
						<real>229.75</real>
						<real>275.799987792969</real>
					</array>
					<key>positionRelative</key>
					<array>
						<real>0.478645831346512</real>
						<real>0.861874938011169</real>
					</array>
					<key>bUseRelativePos</key>
					<false/>
					<key>bAutoScale</key>
					<false/>
					<key>rotation</key>
					<real>0</real>
					<key>scale</key>
					<real>1</real>
					<key>scaleX</key>
					<real>1</real>
					<key>scaleY</key>
					<real>1</real>
					<key>tag</key>
					<integer>-1</integer>
					<key>visible</key>
					<true/>
					<key>zOrder</key>
					<integer>0</integer>
					<key>actions</key>
					<array/>
					<key>accelerometerEnabled</key>
					<integer>0</integer>
					<key>keyboardEnabled</key>
					<integer>1</integer>
					<key>mouseEnabled</key>
					<integer>0</integer>
					<key>touchEnabled</key>
					<integer>1</integer>
				</dict>
			</dict>
		</array>
		<key>class</key>
		<string>GUILayer</string>
		<key>properties</key>
		<dict>
			<key>anchorPoint</key>
			<array>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>contentSize</key>
			<array>
				<real>480</real>
				<real>320</real>
			</array>
			<key>customClass</key>
			<string>RootLayer</string>
			<key>isExpanded</key>
			<false/>
			<key>isRelativeAnchorPoint</key>
			<false/>
			<key>refPointType</key>
			<integer>0</integer>
			<key>lockedScaleRatio</key>
			<false/>
			<key>memberVarAssignmentName</key>
			<string>Node13</string>
			<key>memberVarAssignmentType</key>
			<integer>0</integer>
			<key>position</key>
			<array>
				<real>0</real>
				<real>-5</real>
			</array>
			<key>positionRelative</key>
			<array>
				<real>0</real>
				<real>-0.015625</real>
			</array>
			<key>bUseRelativePos</key>
			<false/>
			<key>bAutoScale</key>
			<false/>
			<key>rotation</key>
			<real>0</real>
			<key>scale</key>
			<real>1</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>tag</key>
			<integer>-1</integer>
			<key>visible</key>
			<true/>
			<key>zOrder</key>
			<integer>0</integer>
			<key>actions</key>
			<array/>
			<key>accelerometerEnabled</key>
			<integer>0</integer>
			<key>keyboardEnabled</key>
			<integer>1</integer>
			<key>mouseEnabled</key>
			<integer>0</integer>
			<key>touchEnabled</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>stageHeight</key>
	<integer>320</integer>
	<key>stageWidth</key>
	<integer>480</integer>
</dict>
</plist>
