<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>centeredOrigin</key>
		<false />
		<key>fileType</key>
		<string>SweetPomeII UIEditor</string>
		<key>fileVersion</key>
		<integer>1</integer>
		<key>nodeGraph</key>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array />
							<key>class</key>
							<string>GUIMenuItemImage</string>
							<key>properties</key>
							<dict>
								<key>anchorPoint</key>
								<array>
									<real>1</real>
									<real>1</real>
								</array>
								<key>contentSize</key>
								<array>
									<real>64</real>
									<real>64</real>
								</array>
								<key>customClass</key>
								<string></string>
								<key>isRelativeAnchorPoint</key>
								<false />
								<key>lockedScaleRatio</key>
								<false />
								<key>memberVarAssignmentName</key>
								<string>btnTower0</string>
								<key>memberVarAssignmentType</key>
								<integer>0</integer>
								<key>position</key>
								<array>
									<real>90</real>
									<real>713</real>
								</array>
								<key>positionRelative</key>
								<array>
									<real>0</real>
									<real>0</real>
								</array>
								<key>bUseRelativePos</key>
								<false />
								<key>bAutoScale</key>
								<false />
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<real>1</real>
								<key>scaleX</key>
								<real>1</real>
								<key>scaleY</key>
								<real>1</real>
								<key>tag</key>
								<integer>1001</integer>
								<key>visible</key>
								<true />
								<key>zOrder</key>
								<integer>111</integer>
								<key>actions</key>
								<array />
								<key>opacity</key>
								<integer>255</integer>
								<key>javaScript</key>
								<string>ButtonEvent14</string>
								<key>color</key>
								<array>
									<integer>255</integer>
									<integer>255</integer>
									<integer>255</integer>
								</array>
								<key>selector</key>
								<string></string>
								<key>spriteFileDisabled</key>
								<string>build_hiddenTower.png</string>
								<key>spriteFileNormal</key>
								<string>build_gunTower.png</string>
								<key>spriteFileSelected</key>
								<string>build_gunTower.png</string>
								<key>spriteFramesFile</key>
								<string></string>
							</dict>
						</dict>
					</array>
					<key>class</key>
					<string>GUIMenu</string>
					<key>properties</key>
					<dict>
						<key>anchorPoint</key>
						<array>
							<real>1</real>
							<real>1</real>
						</array>
						<key>contentSize</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>customClass</key>
						<string></string>
						<key>isRelativeAnchorPoint</key>
						<false />
						<key>lockedScaleRatio</key>
						<false />
						<key>memberVarAssignmentName</key>
						<string>BtnContainer</string>
						<key>memberVarAssignmentType</key>
						<integer>0</integer>
						<key>position</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>positionRelative</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>bUseRelativePos</key>
						<false />
						<key>bAutoScale</key>
						<false />
						<key>rotation</key>
						<real>0</real>
						<key>scale</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>tag</key>
						<integer>1000</integer>
						<key>visible</key>
						<true />
						<key>zOrder</key>
						<integer>100</integer>
						<key>actions</key>
						<array />
						<key>accelerometerEnabled</key>
						<integer>0</integer>
						<key>keyboardEnabled</key>
						<integer>1</integer>
						<key>mouseEnabled</key>
						<integer>0</integer>
						<key>touchEnabled</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array />
							<key>class</key>
							<string>GUIMenuItemImage</string>
							<key>properties</key>
							<dict>
								<key>anchorPoint</key>
								<array>
									<real>0.5</real>
									<real>0.5</real>
								</array>
								<key>contentSize</key>
								<array>
									<real>64</real>
									<real>64</real>
								</array>
								<key>customClass</key>
								<string></string>
								<key>isRelativeAnchorPoint</key>
								<false />
								<key>lockedScaleRatio</key>
								<false />
								<key>memberVarAssignmentName</key>
								<string>btnTower1</string>
								<key>memberVarAssignmentType</key>
								<integer>0</integer>
								<key>position</key>
								<array>
									<real>101</real>
									<real>712</real>
								</array>
								<key>positionRelative</key>
								<array>
									<real>0</real>
									<real>0</real>
								</array>
								<key>bUseRelativePos</key>
								<false />
								<key>bAutoScale</key>
								<false />
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<real>1</real>
								<key>scaleX</key>
								<real>1</real>
								<key>scaleY</key>
								<real>1</real>
								<key>tag</key>
								<integer>1002</integer>
								<key>visible</key>
								<true />
								<key>zOrder</key>
								<integer>111</integer>
								<key>actions</key>
								<array />
								<key>opacity</key>
								<integer>255</integer>
								<key>javaScript</key>
								<string>ButtonEvent16</string>
								<key>color</key>
								<array>
									<integer>255</integer>
									<integer>255</integer>
									<integer>255</integer>
								</array>
								<key>selector</key>
								<string></string>
								<key>spriteFileDisabled</key>
								<string>build_hiddenTower.png</string>
								<key>spriteFileNormal</key>
								<string>build_flyBulletTower.png</string>
								<key>spriteFileSelected</key>
								<string>build_flyBulletTower.png</string>
								<key>spriteFramesFile</key>
								<string></string>
							</dict>
						</dict>
					</array>
					<key>class</key>
					<string>GUIMenu</string>
					<key>properties</key>
					<dict>
						<key>anchorPoint</key>
						<array>
							<real>1</real>
							<real>1</real>
						</array>
						<key>contentSize</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>customClass</key>
						<string></string>
						<key>isRelativeAnchorPoint</key>
						<false />
						<key>lockedScaleRatio</key>
						<false />
						<key>memberVarAssignmentName</key>
						<string>BtnContainer1</string>
						<key>memberVarAssignmentType</key>
						<integer>0</integer>
						<key>position</key>
						<array>
							<real>64</real>
							<real>0</real>
						</array>
						<key>positionRelative</key>
						<array>
							<real>0.100000001490116</real>
							<real>0</real>
						</array>
						<key>bUseRelativePos</key>
						<false />
						<key>bAutoScale</key>
						<false />
						<key>rotation</key>
						<real>0</real>
						<key>scale</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>tag</key>
						<integer>-1</integer>
						<key>visible</key>
						<true />
						<key>zOrder</key>
						<integer>100</integer>
						<key>actions</key>
						<array />
						<key>accelerometerEnabled</key>
						<integer>0</integer>
						<key>keyboardEnabled</key>
						<integer>1</integer>
						<key>mouseEnabled</key>
						<integer>0</integer>
						<key>touchEnabled</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array />
					<key>class</key>
					<string>GUILabelTTF</string>
					<key>properties</key>
					<dict>
						<key>anchorPoint</key>
						<array>
							<real>0.5</real>
							<real>0.5</real>
						</array>
						<key>contentSize</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>customClass</key>
						<string></string>
						<key>isRelativeAnchorPoint</key>
						<false />
						<key>lockedScaleRatio</key>
						<false />
						<key>memberVarAssignmentName</key>
						<string>textDesc</string>
						<key>memberVarAssignmentType</key>
						<integer>0</integer>
						<key>position</key>
						<array>
							<real>164</real>
							<real>467</real>
						</array>
						<key>positionRelative</key>
						<array>
							<real>0.256249994039536</real>
							<real>0.486458331346512</real>
						</array>
						<key>bUseRelativePos</key>
						<false />
						<key>bAutoScale</key>
						<false />
						<key>rotation</key>
						<real>0</real>
						<key>scale</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>tag</key>
						<integer>1203</integer>
						<key>visible</key>
						<true />
						<key>zOrder</key>
						<integer>2</integer>
						<key>actions</key>
						<array />
						<key>blendFunc</key>
						<array>
							<integer>770</integer>
							<integer>771</integer>
						</array>
						<key>color</key>
						<array>
							<integer>255</integer>
							<integer>255</integer>
							<integer>255</integer>
						</array>
						<key>flipX</key>
						<false />
						<key>flipY</key>
						<false />
						<key>opacity</key>
						<integer>255</integer>
						<key>spriteFile</key>
						<string></string>
						<key>spriteFramesFile</key>
						<string></string>
						<key>labelText</key>
						<string></string>
						<key>fontName</key>
						<string>Arial</string>
						<key>fontSize</key>
						<integer>14</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array />
							<key>class</key>
							<string>GUIMenuItemLabel</string>
							<key>properties</key>
							<dict>
								<key>anchorPoint</key>
								<array>
									<real>0.5</real>
									<real>0.5</real>
								</array>
								<key>contentSize</key>
								<array>
									<real>0</real>
									<real>0</real>
								</array>
								<key>customClass</key>
								<string></string>
								<key>isRelativeAnchorPoint</key>
								<false />
								<key>lockedScaleRatio</key>
								<false />
								<key>memberVarAssignmentName</key>
								<string>btnTowerPage</string>
								<key>memberVarAssignmentType</key>
								<integer>0</integer>
								<key>position</key>
								<array>
									<real>-27</real>
									<real>-24</real>
								</array>
								<key>positionRelative</key>
								<array>
									<real>0</real>
									<real>0</real>
								</array>
								<key>bUseRelativePos</key>
								<false />
								<key>bAutoScale</key>
								<false />
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<real>1</real>
								<key>scaleX</key>
								<real>1</real>
								<key>scaleY</key>
								<real>1</real>
								<key>tag</key>
								<integer>1201</integer>
								<key>visible</key>
								<true />
								<key>zOrder</key>
								<integer>3</integer>
								<key>actions</key>
								<array />
								<key>opacity</key>
								<integer>255</integer>
								<key>javaScript</key>
								<string>ButtonEvent19</string>
								<key>color</key>
								<array>
									<integer>121</integer>
									<integer>106</integer>
									<integer>227</integer>
								</array>
								<key>labelText</key>
								<string>防御塔建造</string>
								<key>fontName</key>
								<string>Arial</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>disabledColor</key>
								<array>
									<integer>110</integer>
									<integer>108</integer>
									<integer>144</integer>
								</array>
							</dict>
						</dict>
					</array>
					<key>class</key>
					<string>GUIMenu</string>
					<key>properties</key>
					<dict>
						<key>anchorPoint</key>
						<array>
							<real>0.5</real>
							<real>0.5</real>
						</array>
						<key>contentSize</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>customClass</key>
						<string></string>
						<key>isRelativeAnchorPoint</key>
						<false />
						<key>lockedScaleRatio</key>
						<false />
						<key>memberVarAssignmentName</key>
						<string>Node20</string>
						<key>memberVarAssignmentType</key>
						<integer>0</integer>
						<key>position</key>
						<array>
							<real>204</real>
							<real>817</real>
						</array>
						<key>positionRelative</key>
						<array>
							<real>0.318749994039536</real>
							<real>0.851041674613953</real>
						</array>
						<key>bUseRelativePos</key>
						<false />
						<key>bAutoScale</key>
						<false />
						<key>rotation</key>
						<real>0</real>
						<key>scale</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>tag</key>
						<integer>1200</integer>
						<key>visible</key>
						<true />
						<key>zOrder</key>
						<integer>1</integer>
						<key>actions</key>
						<array />
						<key>accelerometerEnabled</key>
						<integer>0</integer>
						<key>keyboardEnabled</key>
						<integer>1</integer>
						<key>mouseEnabled</key>
						<integer>0</integer>
						<key>touchEnabled</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array />
					<key>class</key>
					<string>GUISprite</string>
					<key>properties</key>
					<dict>
						<key>anchorPoint</key>
						<array>
							<real>0.5</real>
							<real>0.5</real>
						</array>
						<key>contentSize</key>
						<array>
							<real>320</real>
							<real>480</real>
						</array>
						<key>customClass</key>
						<string></string>
						<key>isRelativeAnchorPoint</key>
						<false />
						<key>lockedScaleRatio</key>
						<false />
						<key>memberVarAssignmentName</key>
						<string>Node21</string>
						<key>memberVarAssignmentType</key>
						<integer>0</integer>
						<key>position</key>
						<array>
							<real>160</real>
							<real>371</real>
						</array>
						<key>positionRelative</key>
						<array>
							<real>0.25</real>
							<real>0.386458337306976</real>
						</array>
						<key>bUseRelativePos</key>
						<false />
						<key>bAutoScale</key>
						<false />
						<key>rotation</key>
						<real>0</real>
						<key>scale</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>tag</key>
						<integer>-1</integer>
						<key>visible</key>
						<true />
						<key>zOrder</key>
						<integer>0</integer>
						<key>actions</key>
						<array />
						<key>blendFunc</key>
						<array>
							<integer>770</integer>
							<integer>771</integer>
						</array>
						<key>color</key>
						<array>
							<integer>255</integer>
							<integer>255</integer>
							<integer>255</integer>
						</array>
						<key>flipX</key>
						<false />
						<key>flipY</key>
						<false />
						<key>opacity</key>
						<integer>255</integer>
						<key>spriteFile</key>
						<string>Default.png</string>
						<key>spriteFramesFile</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array />
							<key>class</key>
							<string>GUIMenuItemLabel</string>
							<key>properties</key>
							<dict>
								<key>anchorPoint</key>
								<array>
									<real>0.5</real>
									<real>0.5</real>
								</array>
								<key>contentSize</key>
								<array>
									<real>0</real>
									<real>0</real>
								</array>
								<key>customClass</key>
								<string></string>
								<key>isRelativeAnchorPoint</key>
								<false />
								<key>lockedScaleRatio</key>
								<false />
								<key>memberVarAssignmentName</key>
								<string>Node22</string>
								<key>memberVarAssignmentType</key>
								<integer>0</integer>
								<key>position</key>
								<array>
									<real>-30</real>
									<real>-30</real>
								</array>
								<key>positionRelative</key>
								<array>
									<real>0</real>
									<real>0</real>
								</array>
								<key>bUseRelativePos</key>
								<false />
								<key>bAutoScale</key>
								<false />
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<real>1</real>
								<key>scaleX</key>
								<real>1</real>
								<key>scaleY</key>
								<real>1</real>
								<key>tag</key>
								<integer>1202</integer>
								<key>visible</key>
								<true />
								<key>zOrder</key>
								<integer>3</integer>
								<key>actions</key>
								<array />
								<key>opacity</key>
								<integer>255</integer>
								<key>javaScript</key>
								<string>ButtonEvent22</string>
								<key>color</key>
								<array>
									<integer>132</integer>
									<integer>126</integer>
									<integer>243</integer>
								</array>
								<key>labelText</key>
								<string>升级科技</string>
								<key>fontName</key>
								<string>Arial</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>disabledColor</key>
								<array>
									<integer>58</integer>
									<integer>125</integer>
									<integer>231</integer>
								</array>
							</dict>
						</dict>
					</array>
					<key>class</key>
					<string>GUIMenu</string>
					<key>properties</key>
					<dict>
						<key>anchorPoint</key>
						<array>
							<real>0.5</real>
							<real>0.5</real>
						</array>
						<key>contentSize</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>customClass</key>
						<string></string>
						<key>isRelativeAnchorPoint</key>
						<false />
						<key>lockedScaleRatio</key>
						<false />
						<key>memberVarAssignmentName</key>
						<string>Node23</string>
						<key>memberVarAssignmentType</key>
						<integer>0</integer>
						<key>position</key>
						<array>
							<real>393</real>
							<real>817</real>
						</array>
						<key>positionRelative</key>
						<array>
							<real>0.614062488079071</real>
							<real>0.851041674613953</real>
						</array>
						<key>bUseRelativePos</key>
						<false />
						<key>bAutoScale</key>
						<false />
						<key>rotation</key>
						<real>0</real>
						<key>scale</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>tag</key>
						<integer>-1</integer>
						<key>visible</key>
						<true />
						<key>zOrder</key>
						<integer>2</integer>
						<key>actions</key>
						<array />
						<key>accelerometerEnabled</key>
						<integer>0</integer>
						<key>keyboardEnabled</key>
						<integer>1</integer>
						<key>mouseEnabled</key>
						<integer>0</integer>
						<key>touchEnabled</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array />
							<key>class</key>
							<string>GUIMenuItemImage</string>
							<key>properties</key>
							<dict>
								<key>anchorPoint</key>
								<array>
									<real>0.5</real>
									<real>0.5</real>
								</array>
								<key>contentSize</key>
								<array>
									<real>62</real>
									<real>34</real>
								</array>
								<key>customClass</key>
								<string></string>
								<key>isRelativeAnchorPoint</key>
								<false />
								<key>lockedScaleRatio</key>
								<false />
								<key>memberVarAssignmentName</key>
								<string>btnOK</string>
								<key>memberVarAssignmentType</key>
								<integer>0</integer>
								<key>position</key>
								<array>
									<real>-17</real>
									<real>-25</real>
								</array>
								<key>positionRelative</key>
								<array>
									<real>0</real>
									<real>0</real>
								</array>
								<key>bUseRelativePos</key>
								<false />
								<key>bAutoScale</key>
								<false />
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<real>1</real>
								<key>scaleX</key>
								<real>1</real>
								<key>scaleY</key>
								<real>1</real>
								<key>tag</key>
								<integer>1301</integer>
								<key>visible</key>
								<true />
								<key>zOrder</key>
								<integer>3</integer>
								<key>actions</key>
								<array />
								<key>opacity</key>
								<integer>255</integer>
								<key>javaScript</key>
								<string>ButtonEvent24</string>
								<key>color</key>
								<array>
									<integer>255</integer>
									<integer>255</integer>
									<integer>255</integer>
								</array>
								<key>selector</key>
								<string></string>
								<key>spriteFileDisabled</key>
								<string></string>
								<key>spriteFileNormal</key>
								<string>menuItemBg.png</string>
								<key>spriteFileSelected</key>
								<string></string>
								<key>spriteFramesFile</key>
								<string></string>
							</dict>
						</dict>
					</array>
					<key>class</key>
					<string>GUIMenu</string>
					<key>properties</key>
					<dict>
						<key>anchorPoint</key>
						<array>
							<real>0.5</real>
							<real>0.5</real>
						</array>
						<key>contentSize</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>customClass</key>
						<string></string>
						<key>isRelativeAnchorPoint</key>
						<false />
						<key>lockedScaleRatio</key>
						<false />
						<key>memberVarAssignmentName</key>
						<string>Node25</string>
						<key>memberVarAssignmentType</key>
						<integer>0</integer>
						<key>position</key>
						<array>
							<real>230</real>
							<real>348</real>
						</array>
						<key>positionRelative</key>
						<array>
							<real>0.359375</real>
							<real>0.362500011920929</real>
						</array>
						<key>bUseRelativePos</key>
						<false />
						<key>bAutoScale</key>
						<false />
						<key>rotation</key>
						<real>0</real>
						<key>scale</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>tag</key>
						<integer>-1</integer>
						<key>visible</key>
						<true />
						<key>zOrder</key>
						<integer>0</integer>
						<key>actions</key>
						<array />
						<key>accelerometerEnabled</key>
						<integer>0</integer>
						<key>keyboardEnabled</key>
						<integer>1</integer>
						<key>mouseEnabled</key>
						<integer>0</integer>
						<key>touchEnabled</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array />
							<key>class</key>
							<string>GUIMenuItemImage</string>
							<key>properties</key>
							<dict>
								<key>anchorPoint</key>
								<array>
									<real>0.5</real>
									<real>0.5</real>
								</array>
								<key>contentSize</key>
								<array>
									<real>62</real>
									<real>34</real>
								</array>
								<key>customClass</key>
								<string></string>
								<key>isRelativeAnchorPoint</key>
								<false />
								<key>lockedScaleRatio</key>
								<false />
								<key>memberVarAssignmentName</key>
								<string>btnCancel</string>
								<key>memberVarAssignmentType</key>
								<integer>0</integer>
								<key>position</key>
								<array>
									<real>-14</real>
									<real>-25</real>
								</array>
								<key>positionRelative</key>
								<array>
									<real>0</real>
									<real>0</real>
								</array>
								<key>bUseRelativePos</key>
								<false />
								<key>bAutoScale</key>
								<false />
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<real>1</real>
								<key>scaleX</key>
								<real>1</real>
								<key>scaleY</key>
								<real>1</real>
								<key>tag</key>
								<integer>1302</integer>
								<key>visible</key>
								<true />
								<key>zOrder</key>
								<integer>3</integer>
								<key>actions</key>
								<array />
								<key>opacity</key>
								<integer>255</integer>
								<key>javaScript</key>
								<string>ButtonEvent26</string>
								<key>color</key>
								<array>
									<integer>255</integer>
									<integer>255</integer>
									<integer>255</integer>
								</array>
								<key>selector</key>
								<string></string>
								<key>spriteFileDisabled</key>
								<string></string>
								<key>spriteFileNormal</key>
								<string>close@2x.png</string>
								<key>spriteFileSelected</key>
								<string></string>
								<key>spriteFramesFile</key>
								<string></string>
							</dict>
						</dict>
					</array>
					<key>class</key>
					<string>GUIMenu</string>
					<key>properties</key>
					<dict>
						<key>anchorPoint</key>
						<array>
							<real>0.5</real>
							<real>0.5</real>
						</array>
						<key>contentSize</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>customClass</key>
						<string></string>
						<key>isRelativeAnchorPoint</key>
						<false />
						<key>lockedScaleRatio</key>
						<false />
						<key>memberVarAssignmentName</key>
						<string>Node27</string>
						<key>memberVarAssignmentType</key>
						<integer>0</integer>
						<key>position</key>
						<array>
							<real>361</real>
							<real>348</real>
						</array>
						<key>positionRelative</key>
						<array>
							<real>0.564062476158142</real>
							<real>0.362500011920929</real>
						</array>
						<key>bUseRelativePos</key>
						<false />
						<key>bAutoScale</key>
						<false />
						<key>rotation</key>
						<real>0</real>
						<key>scale</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>tag</key>
						<integer>-1</integer>
						<key>visible</key>
						<true />
						<key>zOrder</key>
						<integer>0</integer>
						<key>actions</key>
						<array />
						<key>accelerometerEnabled</key>
						<integer>0</integer>
						<key>keyboardEnabled</key>
						<integer>1</integer>
						<key>mouseEnabled</key>
						<integer>0</integer>
						<key>touchEnabled</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array />
							<key>class</key>
							<string>GUIMenuItemImage</string>
							<key>properties</key>
							<dict>
								<key>anchorPoint</key>
								<array>
									<real>0.5</real>
									<real>0.5</real>
								</array>
								<key>contentSize</key>
								<array>
									<real>64</real>
									<real>64</real>
								</array>
								<key>customClass</key>
								<string></string>
								<key>isRelativeAnchorPoint</key>
								<false />
								<key>lockedScaleRatio</key>
								<false />
								<key>memberVarAssignmentName</key>
								<string>btnTower2</string>
								<key>memberVarAssignmentType</key>
								<integer>0</integer>
								<key>position</key>
								<array>
									<real>-42</real>
									<real>-38</real>
								</array>
								<key>positionRelative</key>
								<array>
									<real>0</real>
									<real>0</real>
								</array>
								<key>bUseRelativePos</key>
								<false />
								<key>bAutoScale</key>
								<false />
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<real>1</real>
								<key>scaleX</key>
								<real>1</real>
								<key>scaleY</key>
								<real>1</real>
								<key>tag</key>
								<integer>1003</integer>
								<key>visible</key>
								<true />
								<key>zOrder</key>
								<integer>111</integer>
								<key>actions</key>
								<array />
								<key>opacity</key>
								<integer>255</integer>
								<key>javaScript</key>
								<string>ButtonEvent33</string>
								<key>color</key>
								<array>
									<integer>255</integer>
									<integer>255</integer>
									<integer>255</integer>
								</array>
								<key>selector</key>
								<string></string>
								<key>spriteFileDisabled</key>
								<string>build_hiddenTower.png</string>
								<key>spriteFileNormal</key>
								<string>build_normalTower.png</string>
								<key>spriteFileSelected</key>
								<string>build_normalTower.png</string>
								<key>spriteFramesFile</key>
								<string></string>
							</dict>
						</dict>
					</array>
					<key>class</key>
					<string>GUIMenu</string>
					<key>properties</key>
					<dict>
						<key>anchorPoint</key>
						<array>
							<real>0.5</real>
							<real>0.5</real>
						</array>
						<key>contentSize</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>customClass</key>
						<string></string>
						<key>isRelativeAnchorPoint</key>
						<false />
						<key>lockedScaleRatio</key>
						<false />
						<key>memberVarAssignmentName</key>
						<string>Node34</string>
						<key>memberVarAssignmentType</key>
						<integer>0</integer>
						<key>position</key>
						<array>
							<real>279</real>
							<real>750</real>
						</array>
						<key>positionRelative</key>
						<array>
							<real>0.435937494039536</real>
							<real>0.78125</real>
						</array>
						<key>bUseRelativePos</key>
						<false />
						<key>bAutoScale</key>
						<false />
						<key>rotation</key>
						<real>0</real>
						<key>scale</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>tag</key>
						<integer>-1</integer>
						<key>visible</key>
						<true />
						<key>zOrder</key>
						<integer>0</integer>
						<key>actions</key>
						<array />
						<key>accelerometerEnabled</key>
						<integer>0</integer>
						<key>keyboardEnabled</key>
						<integer>1</integer>
						<key>mouseEnabled</key>
						<integer>0</integer>
						<key>touchEnabled</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array />
							<key>class</key>
							<string>GUIMenuItemImage</string>
							<key>properties</key>
							<dict>
								<key>anchorPoint</key>
								<array>
									<real>0.5</real>
									<real>0.5</real>
								</array>
								<key>contentSize</key>
								<array>
									<real>64</real>
									<real>64</real>
								</array>
								<key>customClass</key>
								<string></string>
								<key>isRelativeAnchorPoint</key>
								<false />
								<key>lockedScaleRatio</key>
								<false />
								<key>memberVarAssignmentName</key>
								<string>btnTower3</string>
								<key>memberVarAssignmentType</key>
								<integer>0</integer>
								<key>position</key>
								<array>
									<real>-54</real>
									<real>-45</real>
								</array>
								<key>positionRelative</key>
								<array>
									<real>0</real>
									<real>0</real>
								</array>
								<key>bUseRelativePos</key>
								<false />
								<key>bAutoScale</key>
								<false />
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<real>1</real>
								<key>scaleX</key>
								<real>1</real>
								<key>scaleY</key>
								<real>1</real>
								<key>tag</key>
								<integer>1004</integer>
								<key>visible</key>
								<true />
								<key>zOrder</key>
								<integer>111</integer>
								<key>actions</key>
								<array />
								<key>opacity</key>
								<integer>255</integer>
								<key>javaScript</key>
								<string>ButtonEvent35</string>
								<key>color</key>
								<array>
									<integer>255</integer>
									<integer>255</integer>
									<integer>255</integer>
								</array>
								<key>selector</key>
								<string></string>
								<key>spriteFileDisabled</key>
								<string>build_hiddenTower.png</string>
								<key>spriteFileNormal</key>
								<string>build_fireBulletTower.png</string>
								<key>spriteFileSelected</key>
								<string>build_fireBulletTower.png</string>
								<key>spriteFramesFile</key>
								<string></string>
							</dict>
						</dict>
					</array>
					<key>class</key>
					<string>GUIMenu</string>
					<key>properties</key>
					<dict>
						<key>anchorPoint</key>
						<array>
							<real>0.5</real>
							<real>0.5</real>
						</array>
						<key>contentSize</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>customClass</key>
						<string></string>
						<key>isRelativeAnchorPoint</key>
						<false />
						<key>lockedScaleRatio</key>
						<false />
						<key>memberVarAssignmentName</key>
						<string>Node36</string>
						<key>memberVarAssignmentType</key>
						<integer>0</integer>
						<key>position</key>
						<array>
							<real>362</real>
							<real>756</real>
						</array>
						<key>positionRelative</key>
						<array>
							<real>0.565625011920929</real>
							<real>0.787500023841858</real>
						</array>
						<key>bUseRelativePos</key>
						<false />
						<key>bAutoScale</key>
						<false />
						<key>rotation</key>
						<real>0</real>
						<key>scale</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>tag</key>
						<integer>-1</integer>
						<key>visible</key>
						<true />
						<key>zOrder</key>
						<integer>0</integer>
						<key>actions</key>
						<array />
						<key>accelerometerEnabled</key>
						<integer>0</integer>
						<key>keyboardEnabled</key>
						<integer>1</integer>
						<key>mouseEnabled</key>
						<integer>0</integer>
						<key>touchEnabled</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array />
					<key>class</key>
					<string>GUIMenuItemImage</string>
					<key>properties</key>
					<dict>
						<key>anchorPoint</key>
						<array>
							<real>0.5</real>
							<real>0.5</real>
						</array>
						<key>contentSize</key>
						<array>
							<real>64</real>
							<real>64</real>
						</array>
						<key>customClass</key>
						<string></string>
						<key>isRelativeAnchorPoint</key>
						<false />
						<key>lockedScaleRatio</key>
						<false />
						<key>memberVarAssignmentName</key>
						<string>btnTower4</string>
						<key>memberVarAssignmentType</key>
						<integer>0</integer>
						<key>position</key>
						<array>
							<real>379</real>
							<real>711</real>
						</array>
						<key>positionRelative</key>
						<array>
							<real>0.592187523841858</real>
							<real>0.740625023841858</real>
						</array>
						<key>bUseRelativePos</key>
						<false />
						<key>bAutoScale</key>
						<false />
						<key>rotation</key>
						<real>0</real>
						<key>scale</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>tag</key>
						<integer>1005</integer>
						<key>visible</key>
						<true />
						<key>zOrder</key>
						<integer>111</integer>
						<key>actions</key>
						<array />
						<key>opacity</key>
						<integer>255</integer>
						<key>javaScript</key>
						<string>ButtonEvent37</string>
						<key>color</key>
						<array>
							<integer>255</integer>
							<integer>255</integer>
							<integer>255</integer>
						</array>
						<key>selector</key>
						<string></string>
						<key>spriteFileDisabled</key>
						<string>build_hiddenTower.png</string>
						<key>spriteFileNormal</key>
						<string>build_iceTower.png</string>
						<key>spriteFileSelected</key>
						<string>build_iceTower.png</string>
						<key>spriteFramesFile</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array />
							<key>class</key>
							<string>GUIMenuItemImage</string>
							<key>properties</key>
							<dict>
								<key>anchorPoint</key>
								<array>
									<real>0.5</real>
									<real>0.5</real>
								</array>
								<key>contentSize</key>
								<array>
									<real>64</real>
									<real>64</real>
								</array>
								<key>customClass</key>
								<string></string>
								<key>isRelativeAnchorPoint</key>
								<false />
								<key>lockedScaleRatio</key>
								<false />
								<key>memberVarAssignmentName</key>
								<string>btnTower5</string>
								<key>memberVarAssignmentType</key>
								<integer>0</integer>
								<key>position</key>
								<array>
									<real>-151</real>
									<real>-71</real>
								</array>
								<key>positionRelative</key>
								<array>
									<real>0</real>
									<real>0</real>
								</array>
								<key>bUseRelativePos</key>
								<false />
								<key>bAutoScale</key>
								<false />
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<real>1</real>
								<key>scaleX</key>
								<real>1</real>
								<key>scaleY</key>
								<real>1</real>
								<key>tag</key>
								<integer>1006</integer>
								<key>visible</key>
								<true />
								<key>zOrder</key>
								<integer>111</integer>
								<key>actions</key>
								<array />
								<key>opacity</key>
								<integer>255</integer>
								<key>javaScript</key>
								<string>ButtonEvent38</string>
								<key>color</key>
								<array>
									<integer>255</integer>
									<integer>255</integer>
									<integer>255</integer>
								</array>
								<key>selector</key>
								<string></string>
								<key>spriteFileDisabled</key>
								<string>build_hiddenTower.png</string>
								<key>spriteFileNormal</key>
								<string>build_electricTower.png</string>
								<key>spriteFileSelected</key>
								<string>build_electricTower.png</string>
								<key>spriteFramesFile</key>
								<string></string>
							</dict>
						</dict>
					</array>
					<key>class</key>
					<string>GUIMenu</string>
					<key>properties</key>
					<dict>
						<key>anchorPoint</key>
						<array>
							<real>0.5</real>
							<real>0.5</real>
						</array>
						<key>contentSize</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>customClass</key>
						<string></string>
						<key>isRelativeAnchorPoint</key>
						<false />
						<key>lockedScaleRatio</key>
						<false />
						<key>memberVarAssignmentName</key>
						<string>Node39</string>
						<key>memberVarAssignmentType</key>
						<integer>0</integer>
						<key>position</key>
						<array>
							<real>601</real>
							<real>782</real>
						</array>
						<key>positionRelative</key>
						<array>
							<real>0.939062476158142</real>
							<real>0.814583361148834</real>
						</array>
						<key>bUseRelativePos</key>
						<false />
						<key>bAutoScale</key>
						<false />
						<key>rotation</key>
						<real>0</real>
						<key>scale</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>tag</key>
						<integer>-1</integer>
						<key>visible</key>
						<true />
						<key>zOrder</key>
						<integer>0</integer>
						<key>actions</key>
						<array />
						<key>accelerometerEnabled</key>
						<integer>0</integer>
						<key>keyboardEnabled</key>
						<integer>1</integer>
						<key>mouseEnabled</key>
						<integer>0</integer>
						<key>touchEnabled</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array />
							<key>class</key>
							<string>GUIMenuItemImage</string>
							<key>properties</key>
							<dict>
								<key>anchorPoint</key>
								<array>
									<real>0.5</real>
									<real>0.5</real>
								</array>
								<key>contentSize</key>
								<array>
									<real>64</real>
									<real>64</real>
								</array>
								<key>customClass</key>
								<string></string>
								<key>isRelativeAnchorPoint</key>
								<false />
								<key>lockedScaleRatio</key>
								<false />
								<key>memberVarAssignmentName</key>
								<string>btnTower6</string>
								<key>memberVarAssignmentType</key>
								<integer>0</integer>
								<key>position</key>
								<array>
									<real>-63</real>
									<real>-31</real>
								</array>
								<key>positionRelative</key>
								<array>
									<real>0</real>
									<real>0</real>
								</array>
								<key>bUseRelativePos</key>
								<false />
								<key>bAutoScale</key>
								<false />
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<real>1</real>
								<key>scaleX</key>
								<real>1</real>
								<key>scaleY</key>
								<real>1</real>
								<key>tag</key>
								<integer>1007</integer>
								<key>visible</key>
								<true />
								<key>zOrder</key>
								<integer>0</integer>
								<key>actions</key>
								<array />
								<key>opacity</key>
								<integer>255</integer>
								<key>javaScript</key>
								<string>ButtonEvent36</string>
								<key>color</key>
								<array>
									<integer>255</integer>
									<integer>255</integer>
									<integer>255</integer>
								</array>
								<key>selector</key>
								<string></string>
								<key>spriteFileDisabled</key>
								<string>build_hiddenTower.png</string>
								<key>spriteFileNormal</key>
								<string>build_finalTower.png</string>
								<key>spriteFileSelected</key>
								<string>build_finalTower.png</string>
								<key>spriteFramesFile</key>
								<string></string>
							</dict>
						</dict>
					</array>
					<key>class</key>
					<string>GUIMenu</string>
					<key>properties</key>
					<dict>
						<key>anchorPoint</key>
						<array>
							<real>0.5</real>
							<real>0.5</real>
						</array>
						<key>contentSize</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>customClass</key>
						<string></string>
						<key>isRelativeAnchorPoint</key>
						<false />
						<key>lockedScaleRatio</key>
						<false />
						<key>memberVarAssignmentName</key>
						<string>Node37</string>
						<key>memberVarAssignmentType</key>
						<integer>0</integer>
						<key>position</key>
						<array>
							<real>584</real>
							<real>742</real>
						</array>
						<key>positionRelative</key>
						<array>
							<real>0.912500023841858</real>
							<real>0.772916674613953</real>
						</array>
						<key>bUseRelativePos</key>
						<false />
						<key>bAutoScale</key>
						<false />
						<key>rotation</key>
						<real>0</real>
						<key>scale</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>tag</key>
						<integer>-1</integer>
						<key>visible</key>
						<true />
						<key>zOrder</key>
						<integer>0</integer>
						<key>actions</key>
						<array />
						<key>accelerometerEnabled</key>
						<integer>0</integer>
						<key>keyboardEnabled</key>
						<integer>1</integer>
						<key>mouseEnabled</key>
						<integer>0</integer>
						<key>touchEnabled</key>
						<integer>1</integer>
					</dict>
				</dict>
			</array>
			<key>class</key>
			<string>GUILayer</string>
			<key>properties</key>
			<dict>
				<key>anchorPoint</key>
				<array>
					<real>0.5</real>
					<real>0.5</real>
				</array>
				<key>contentSize</key>
				<array>
					<real>640</real>
					<real>960</real>
				</array>
				<key>customClass</key>
				<string>RootLayer</string>
				<key>isRelativeAnchorPoint</key>
				<true />
				<key>lockedScaleRatio</key>
				<false />
				<key>memberVarAssignmentName</key>
				<string>Node13</string>
				<key>memberVarAssignmentType</key>
				<integer>0</integer>
				<key>position</key>
				<array>
					<real>0</real>
					<real>0</real>
				</array>
				<key>positionRelative</key>
				<array>
					<real>0</real>
					<real>0</real>
				</array>
				<key>bUseRelativePos</key>
				<false />
				<key>bAutoScale</key>
				<false />
				<key>rotation</key>
				<real>0</real>
				<key>scale</key>
				<real>1</real>
				<key>scaleX</key>
				<real>1</real>
				<key>scaleY</key>
				<real>1</real>
				<key>tag</key>
				<integer>1000</integer>
				<key>visible</key>
				<true />
				<key>zOrder</key>
				<integer>0</integer>
				<key>actions</key>
				<array />
				<key>accelerometerEnabled</key>
				<integer>0</integer>
				<key>keyboardEnabled</key>
				<integer>1</integer>
				<key>mouseEnabled</key>
				<integer>0</integer>
				<key>touchEnabled</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>stageHeight</key>
		<integer>960</integer>
		<key>stageWidth</key>
		<integer>640</integer>
	</dict>
</plist>