<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>centeredOrigin</key>
		<false />
		<key>fileType</key>
		<string>SweetPomeII UIEditor</string>
		<key>fileVersion</key>
		<integer>1</integer>
		<key>nodeGraph</key>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array />
							<key>class</key>
							<string>GUIMenuItemImage</string>
							<key>properties</key>
							<dict>
								<key>anchorPoint</key>
								<array>
									<real>1</real>
									<real>1</real>
								</array>
								<key>contentSize</key>
								<array>
									<real>20</real>
									<real>20</real>
								</array>
								<key>customClass</key>
								<string></string>
								<key>isRelativeAnchorPoint</key>
								<false />
								<key>lockedScaleRatio</key>
								<false />
								<key>memberVarAssignmentName</key>
								<string>btnGunTower</string>
								<key>memberVarAssignmentType</key>
								<integer>0</integer>
								<key>position</key>
								<array>
									<real>180</real>
									<real>755</real>
								</array>
								<key>positionRelative</key>
								<array>
									<real>0</real>
									<real>0</real>
								</array>
								<key>bUseRelativePos</key>
								<false />
								<key>bAutoScale</key>
								<false />
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<real>1</real>
								<key>scaleX</key>
								<real>1</real>
								<key>scaleY</key>
								<real>1</real>
								<key>tag</key>
								<integer>1001</integer>
								<key>visible</key>
								<true />
								<key>zOrder</key>
								<integer>111</integer>
								<key>actions</key>
								<array />
								<key>opacity</key>
								<integer>255</integer>
								<key>javaScript</key>
								<string>ButtonEvent14</string>
								<key>color</key>
								<array>
									<integer>255</integer>
									<integer>255</integer>
									<integer>255</integer>
								</array>
								<key>selector</key>
								<string></string>
								<key>spriteFileDisabled</key>
								<string>build_gunTower.png</string>
								<key>spriteFileNormal</key>
								<string>build_gunTower.png</string>
								<key>spriteFileSelected</key>
								<string>build_gunTower.png</string>
								<key>spriteFramesFile</key>
								<string></string>
							</dict>
						</dict>
					</array>
					<key>class</key>
					<string>GUIMenu</string>
					<key>properties</key>
					<dict>
						<key>anchorPoint</key>
						<array>
							<real>1</real>
							<real>1</real>
						</array>
						<key>contentSize</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>customClass</key>
						<string></string>
						<key>isRelativeAnchorPoint</key>
						<false />
						<key>lockedScaleRatio</key>
						<false />
						<key>memberVarAssignmentName</key>
						<string>BtnContainer</string>
						<key>memberVarAssignmentType</key>
						<integer>0</integer>
						<key>position</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>positionRelative</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>bUseRelativePos</key>
						<false />
						<key>bAutoScale</key>
						<false />
						<key>rotation</key>
						<real>0</real>
						<key>scale</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>tag</key>
						<integer>1000</integer>
						<key>visible</key>
						<true />
						<key>zOrder</key>
						<integer>100</integer>
						<key>actions</key>
						<array />
						<key>accelerometerEnabled</key>
						<integer>0</integer>
						<key>keyboardEnabled</key>
						<integer>1</integer>
						<key>mouseEnabled</key>
						<integer>0</integer>
						<key>touchEnabled</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array />
							<key>class</key>
							<string>GUIMenuItemImage</string>
							<key>properties</key>
							<dict>
								<key>anchorPoint</key>
								<array>
									<real>0.5</real>
									<real>0.5</real>
								</array>
								<key>contentSize</key>
								<array>
									<real>20</real>
									<real>20</real>
								</array>
								<key>customClass</key>
								<string></string>
								<key>isRelativeAnchorPoint</key>
								<false />
								<key>lockedScaleRatio</key>
								<false />
								<key>memberVarAssignmentName</key>
								<string>btnFlyBulletTower</string>
								<key>memberVarAssignmentType</key>
								<integer>0</integer>
								<key>position</key>
								<array>
									<real>148</real>
									<real>755</real>
								</array>
								<key>positionRelative</key>
								<array>
									<real>0</real>
									<real>0</real>
								</array>
								<key>bUseRelativePos</key>
								<false />
								<key>bAutoScale</key>
								<false />
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<real>1</real>
								<key>scaleX</key>
								<real>1</real>
								<key>scaleY</key>
								<real>1</real>
								<key>tag</key>
								<integer>1002</integer>
								<key>visible</key>
								<true />
								<key>zOrder</key>
								<integer>111</integer>
								<key>actions</key>
								<array />
								<key>opacity</key>
								<integer>255</integer>
								<key>javaScript</key>
								<string>ButtonEvent16</string>
								<key>color</key>
								<array>
									<integer>255</integer>
									<integer>255</integer>
									<integer>255</integer>
								</array>
								<key>selector</key>
								<string></string>
								<key>spriteFileDisabled</key>
								<string>build_flyBulletTower.png</string>
								<key>spriteFileNormal</key>
								<string>build_flyBulletTower.png</string>
								<key>spriteFileSelected</key>
								<string>build_flyBulletTower.png</string>
								<key>spriteFramesFile</key>
								<string></string>
							</dict>
						</dict>
					</array>
					<key>class</key>
					<string>GUIMenu</string>
					<key>properties</key>
					<dict>
						<key>anchorPoint</key>
						<array>
							<real>1</real>
							<real>1</real>
						</array>
						<key>contentSize</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>customClass</key>
						<string></string>
						<key>isRelativeAnchorPoint</key>
						<false />
						<key>lockedScaleRatio</key>
						<false />
						<key>memberVarAssignmentName</key>
						<string>BtnContainer1</string>
						<key>memberVarAssignmentType</key>
						<integer>0</integer>
						<key>position</key>
						<array>
							<real>64</real>
							<real>0</real>
						</array>
						<key>positionRelative</key>
						<array>
							<real>0.200000002980232</real>
							<real>0</real>
						</array>
						<key>bUseRelativePos</key>
						<false />
						<key>bAutoScale</key>
						<false />
						<key>rotation</key>
						<real>0</real>
						<key>scale</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>tag</key>
						<integer>-1</integer>
						<key>visible</key>
						<true />
						<key>zOrder</key>
						<integer>100</integer>
						<key>actions</key>
						<array />
						<key>accelerometerEnabled</key>
						<integer>0</integer>
						<key>keyboardEnabled</key>
						<integer>1</integer>
						<key>mouseEnabled</key>
						<integer>0</integer>
						<key>touchEnabled</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array />
					<key>class</key>
					<string>GUILabelTTF</string>
					<key>properties</key>
					<dict>
						<key>anchorPoint</key>
						<array>
							<real>0.5</real>
							<real>0.5</real>
						</array>
						<key>contentSize</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>customClass</key>
						<string></string>
						<key>isRelativeAnchorPoint</key>
						<false />
						<key>lockedScaleRatio</key>
						<false />
						<key>memberVarAssignmentName</key>
						<string>textDesc</string>
						<key>memberVarAssignmentType</key>
						<integer>0</integer>
						<key>position</key>
						<array>
							<real>164</real>
							<real>467</real>
						</array>
						<key>positionRelative</key>
						<array>
							<real>0.512499988079071</real>
							<real>0.934000015258789</real>
						</array>
						<key>bUseRelativePos</key>
						<false />
						<key>bAutoScale</key>
						<false />
						<key>rotation</key>
						<real>0</real>
						<key>scale</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>tag</key>
						<integer>1203</integer>
						<key>visible</key>
						<true />
						<key>zOrder</key>
						<integer>2</integer>
						<key>actions</key>
						<array />
						<key>blendFunc</key>
						<array>
							<integer>770</integer>
							<integer>771</integer>
						</array>
						<key>color</key>
						<array>
							<integer>255</integer>
							<integer>255</integer>
							<integer>255</integer>
						</array>
						<key>flipX</key>
						<false />
						<key>flipY</key>
						<false />
						<key>opacity</key>
						<integer>255</integer>
						<key>spriteFile</key>
						<string></string>
						<key>spriteFramesFile</key>
						<string></string>
						<key>labelText</key>
						<string></string>
						<key>fontName</key>
						<string>Arial</string>
						<key>fontSize</key>
						<integer>14</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array />
							<key>class</key>
							<string>GUIMenuItemLabel</string>
							<key>properties</key>
							<dict>
								<key>anchorPoint</key>
								<array>
									<real>0.5</real>
									<real>0.5</real>
								</array>
								<key>contentSize</key>
								<array>
									<real>77.0100021362305</real>
									<real>30</real>
								</array>
								<key>customClass</key>
								<string></string>
								<key>isRelativeAnchorPoint</key>
								<false />
								<key>lockedScaleRatio</key>
								<false />
								<key>memberVarAssignmentName</key>
								<string>btnTowerPage</string>
								<key>memberVarAssignmentType</key>
								<integer>0</integer>
								<key>position</key>
								<array>
									<real>-27</real>
									<real>-24</real>
								</array>
								<key>positionRelative</key>
								<array>
									<real>0</real>
									<real>0</real>
								</array>
								<key>bUseRelativePos</key>
								<false />
								<key>bAutoScale</key>
								<false />
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<real>1</real>
								<key>scaleX</key>
								<real>1</real>
								<key>scaleY</key>
								<real>1</real>
								<key>tag</key>
								<integer>1201</integer>
								<key>visible</key>
								<true />
								<key>zOrder</key>
								<integer>3</integer>
								<key>actions</key>
								<array />
								<key>opacity</key>
								<integer>255</integer>
								<key>javaScript</key>
								<string>ButtonEvent19</string>
								<key>color</key>
								<array>
									<integer>121</integer>
									<integer>106</integer>
									<integer>227</integer>
								</array>
								<key>labelText</key>
								<string>防御塔建造</string>
								<key>fontName</key>
								<string>Arial</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>disabledColor</key>
								<array>
									<integer>110</integer>
									<integer>108</integer>
									<integer>144</integer>
								</array>
							</dict>
						</dict>
					</array>
					<key>class</key>
					<string>GUIMenu</string>
					<key>properties</key>
					<dict>
						<key>anchorPoint</key>
						<array>
							<real>0.5</real>
							<real>0.5</real>
						</array>
						<key>contentSize</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>customClass</key>
						<string></string>
						<key>isRelativeAnchorPoint</key>
						<false />
						<key>lockedScaleRatio</key>
						<false />
						<key>memberVarAssignmentName</key>
						<string>Node20</string>
						<key>memberVarAssignmentType</key>
						<integer>0</integer>
						<key>position</key>
						<array>
							<real>204</real>
							<real>817</real>
						</array>
						<key>positionRelative</key>
						<array>
							<real>0.637499988079071</real>
							<real>1.63399994373322</real>
						</array>
						<key>bUseRelativePos</key>
						<false />
						<key>bAutoScale</key>
						<false />
						<key>rotation</key>
						<real>0</real>
						<key>scale</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>tag</key>
						<integer>1200</integer>
						<key>visible</key>
						<true />
						<key>zOrder</key>
						<integer>1</integer>
						<key>actions</key>
						<array />
						<key>accelerometerEnabled</key>
						<integer>0</integer>
						<key>keyboardEnabled</key>
						<integer>1</integer>
						<key>mouseEnabled</key>
						<integer>0</integer>
						<key>touchEnabled</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array />
					<key>class</key>
					<string>GUISprite</string>
					<key>properties</key>
					<dict>
						<key>anchorPoint</key>
						<array>
							<real>0.5</real>
							<real>0.5</real>
						</array>
						<key>contentSize</key>
						<array>
							<real>320</real>
							<real>480</real>
						</array>
						<key>customClass</key>
						<string></string>
						<key>isRelativeAnchorPoint</key>
						<false />
						<key>lockedScaleRatio</key>
						<false />
						<key>memberVarAssignmentName</key>
						<string>Node21</string>
						<key>memberVarAssignmentType</key>
						<integer>0</integer>
						<key>position</key>
						<array>
							<real>160</real>
							<real>371</real>
						</array>
						<key>positionRelative</key>
						<array>
							<real>0.5</real>
							<real>0.741999983787537</real>
						</array>
						<key>bUseRelativePos</key>
						<false />
						<key>bAutoScale</key>
						<false />
						<key>rotation</key>
						<real>0</real>
						<key>scale</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>tag</key>
						<integer>-1</integer>
						<key>visible</key>
						<true />
						<key>zOrder</key>
						<integer>0</integer>
						<key>actions</key>
						<array />
						<key>blendFunc</key>
						<array>
							<integer>770</integer>
							<integer>771</integer>
						</array>
						<key>color</key>
						<array>
							<integer>255</integer>
							<integer>255</integer>
							<integer>255</integer>
						</array>
						<key>flipX</key>
						<false />
						<key>flipY</key>
						<false />
						<key>opacity</key>
						<integer>255</integer>
						<key>spriteFile</key>
						<string>Default.png</string>
						<key>spriteFramesFile</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array />
							<key>class</key>
							<string>GUIMenuItemLabel</string>
							<key>properties</key>
							<dict>
								<key>anchorPoint</key>
								<array>
									<real>0.5</real>
									<real>0.5</real>
								</array>
								<key>contentSize</key>
								<array>
									<real>96</real>
									<real>50</real>
								</array>
								<key>customClass</key>
								<string></string>
								<key>isRelativeAnchorPoint</key>
								<false />
								<key>lockedScaleRatio</key>
								<false />
								<key>memberVarAssignmentName</key>
								<string>Node22</string>
								<key>memberVarAssignmentType</key>
								<integer>0</integer>
								<key>position</key>
								<array>
									<real>-30</real>
									<real>-30</real>
								</array>
								<key>positionRelative</key>
								<array>
									<real>0</real>
									<real>0</real>
								</array>
								<key>bUseRelativePos</key>
								<false />
								<key>bAutoScale</key>
								<false />
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<real>1</real>
								<key>scaleX</key>
								<real>1</real>
								<key>scaleY</key>
								<real>1</real>
								<key>tag</key>
								<integer>1202</integer>
								<key>visible</key>
								<true />
								<key>zOrder</key>
								<integer>3</integer>
								<key>actions</key>
								<array />
								<key>opacity</key>
								<integer>255</integer>
								<key>javaScript</key>
								<string>ButtonEvent22</string>
								<key>color</key>
								<array>
									<integer>132</integer>
									<integer>126</integer>
									<integer>243</integer>
								</array>
								<key>labelText</key>
								<string>升级科技</string>
								<key>fontName</key>
								<string>Arial</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>disabledColor</key>
								<array>
									<integer>58</integer>
									<integer>125</integer>
									<integer>231</integer>
								</array>
							</dict>
						</dict>
					</array>
					<key>class</key>
					<string>GUIMenu</string>
					<key>properties</key>
					<dict>
						<key>anchorPoint</key>
						<array>
							<real>0.5</real>
							<real>0.5</real>
						</array>
						<key>contentSize</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>customClass</key>
						<string></string>
						<key>isRelativeAnchorPoint</key>
						<false />
						<key>lockedScaleRatio</key>
						<false />
						<key>memberVarAssignmentName</key>
						<string>Node23</string>
						<key>memberVarAssignmentType</key>
						<integer>0</integer>
						<key>position</key>
						<array>
							<real>393</real>
							<real>817</real>
						</array>
						<key>positionRelative</key>
						<array>
							<real>1.22812497615814</real>
							<real>1.63399994373322</real>
						</array>
						<key>bUseRelativePos</key>
						<false />
						<key>bAutoScale</key>
						<false />
						<key>rotation</key>
						<real>0</real>
						<key>scale</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>tag</key>
						<integer>-1</integer>
						<key>visible</key>
						<true />
						<key>zOrder</key>
						<integer>2</integer>
						<key>actions</key>
						<array />
						<key>accelerometerEnabled</key>
						<integer>0</integer>
						<key>keyboardEnabled</key>
						<integer>1</integer>
						<key>mouseEnabled</key>
						<integer>0</integer>
						<key>touchEnabled</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array />
							<key>class</key>
							<string>GUIMenuItemImage</string>
							<key>properties</key>
							<dict>
								<key>anchorPoint</key>
								<array>
									<real>0.5</real>
									<real>0.5</real>
								</array>
								<key>contentSize</key>
								<array>
									<real>62</real>
									<real>34</real>
								</array>
								<key>customClass</key>
								<string></string>
								<key>isRelativeAnchorPoint</key>
								<false />
								<key>lockedScaleRatio</key>
								<false />
								<key>memberVarAssignmentName</key>
								<string>btnOK</string>
								<key>memberVarAssignmentType</key>
								<integer>0</integer>
								<key>position</key>
								<array>
									<real>-17</real>
									<real>-25</real>
								</array>
								<key>positionRelative</key>
								<array>
									<real>0</real>
									<real>0</real>
								</array>
								<key>bUseRelativePos</key>
								<false />
								<key>bAutoScale</key>
								<false />
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<real>1</real>
								<key>scaleX</key>
								<real>1</real>
								<key>scaleY</key>
								<real>1</real>
								<key>tag</key>
								<integer>1301</integer>
								<key>visible</key>
								<true />
								<key>zOrder</key>
								<integer>3</integer>
								<key>actions</key>
								<array />
								<key>opacity</key>
								<integer>255</integer>
								<key>javaScript</key>
								<string>ButtonEvent24</string>
								<key>color</key>
								<array>
									<integer>255</integer>
									<integer>255</integer>
									<integer>255</integer>
								</array>
								<key>selector</key>
								<string></string>
								<key>spriteFileDisabled</key>
								<string></string>
								<key>spriteFileNormal</key>
								<string>menuItemBg.png</string>
								<key>spriteFileSelected</key>
								<string></string>
								<key>spriteFramesFile</key>
								<string></string>
							</dict>
						</dict>
					</array>
					<key>class</key>
					<string>GUIMenu</string>
					<key>properties</key>
					<dict>
						<key>anchorPoint</key>
						<array>
							<real>0.5</real>
							<real>0.5</real>
						</array>
						<key>contentSize</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>customClass</key>
						<string></string>
						<key>isRelativeAnchorPoint</key>
						<false />
						<key>lockedScaleRatio</key>
						<false />
						<key>memberVarAssignmentName</key>
						<string>Node25</string>
						<key>memberVarAssignmentType</key>
						<integer>0</integer>
						<key>position</key>
						<array>
							<real>230</real>
							<real>348</real>
						</array>
						<key>positionRelative</key>
						<array>
							<real>0.71875</real>
							<real>0.695999979972839</real>
						</array>
						<key>bUseRelativePos</key>
						<false />
						<key>bAutoScale</key>
						<false />
						<key>rotation</key>
						<real>0</real>
						<key>scale</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>tag</key>
						<integer>-1</integer>
						<key>visible</key>
						<true />
						<key>zOrder</key>
						<integer>0</integer>
						<key>actions</key>
						<array />
						<key>accelerometerEnabled</key>
						<integer>0</integer>
						<key>keyboardEnabled</key>
						<integer>1</integer>
						<key>mouseEnabled</key>
						<integer>0</integer>
						<key>touchEnabled</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array />
							<key>class</key>
							<string>GUIMenuItemImage</string>
							<key>properties</key>
							<dict>
								<key>anchorPoint</key>
								<array>
									<real>0.5</real>
									<real>0.5</real>
								</array>
								<key>contentSize</key>
								<array>
									<real>62</real>
									<real>34</real>
								</array>
								<key>customClass</key>
								<string></string>
								<key>isRelativeAnchorPoint</key>
								<false />
								<key>lockedScaleRatio</key>
								<false />
								<key>memberVarAssignmentName</key>
								<string>btnCancel</string>
								<key>memberVarAssignmentType</key>
								<integer>0</integer>
								<key>position</key>
								<array>
									<real>-14</real>
									<real>-25</real>
								</array>
								<key>positionRelative</key>
								<array>
									<real>0</real>
									<real>0</real>
								</array>
								<key>bUseRelativePos</key>
								<false />
								<key>bAutoScale</key>
								<false />
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<real>1</real>
								<key>scaleX</key>
								<real>1</real>
								<key>scaleY</key>
								<real>1</real>
								<key>tag</key>
								<integer>1302</integer>
								<key>visible</key>
								<true />
								<key>zOrder</key>
								<integer>3</integer>
								<key>actions</key>
								<array />
								<key>opacity</key>
								<integer>255</integer>
								<key>javaScript</key>
								<string>ButtonEvent26</string>
								<key>color</key>
								<array>
									<integer>255</integer>
									<integer>255</integer>
									<integer>255</integer>
								</array>
								<key>selector</key>
								<string></string>
								<key>spriteFileDisabled</key>
								<string></string>
								<key>spriteFileNormal</key>
								<string>close@2x.png</string>
								<key>spriteFileSelected</key>
								<string></string>
								<key>spriteFramesFile</key>
								<string></string>
							</dict>
						</dict>
					</array>
					<key>class</key>
					<string>GUIMenu</string>
					<key>properties</key>
					<dict>
						<key>anchorPoint</key>
						<array>
							<real>0.5</real>
							<real>0.5</real>
						</array>
						<key>contentSize</key>
						<array>
							<real>0</real>
							<real>0</real>
						</array>
						<key>customClass</key>
						<string></string>
						<key>isRelativeAnchorPoint</key>
						<false />
						<key>lockedScaleRatio</key>
						<false />
						<key>memberVarAssignmentName</key>
						<string>Node27</string>
						<key>memberVarAssignmentType</key>
						<integer>0</integer>
						<key>position</key>
						<array>
							<real>361</real>
							<real>348</real>
						</array>
						<key>positionRelative</key>
						<array>
							<real>1.12812495231628</real>
							<real>0.695999979972839</real>
						</array>
						<key>bUseRelativePos</key>
						<false />
						<key>bAutoScale</key>
						<false />
						<key>rotation</key>
						<real>0</real>
						<key>scale</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>tag</key>
						<integer>-1</integer>
						<key>visible</key>
						<true />
						<key>zOrder</key>
						<integer>0</integer>
						<key>actions</key>
						<array />
						<key>accelerometerEnabled</key>
						<integer>0</integer>
						<key>keyboardEnabled</key>
						<integer>1</integer>
						<key>mouseEnabled</key>
						<integer>0</integer>
						<key>touchEnabled</key>
						<integer>1</integer>
					</dict>
				</dict>
			</array>
			<key>class</key>
			<string>GUILayer</string>
			<key>properties</key>
			<dict>
				<key>anchorPoint</key>
				<array>
					<real>0.5</real>
					<real>0.5</real>
				</array>
				<key>contentSize</key>
				<array>
					<real>320</real>
					<real>500</real>
				</array>
				<key>customClass</key>
				<string>RootLayer</string>
				<key>isRelativeAnchorPoint</key>
				<true />
				<key>lockedScaleRatio</key>
				<false />
				<key>memberVarAssignmentName</key>
				<string>Node13</string>
				<key>memberVarAssignmentType</key>
				<integer>0</integer>
				<key>position</key>
				<array>
					<real>0</real>
					<real>0</real>
				</array>
				<key>positionRelative</key>
				<array>
					<real>0</real>
					<real>0</real>
				</array>
				<key>bUseRelativePos</key>
				<false />
				<key>bAutoScale</key>
				<false />
				<key>rotation</key>
				<real>0</real>
				<key>scale</key>
				<real>1</real>
				<key>scaleX</key>
				<real>1</real>
				<key>scaleY</key>
				<real>1</real>
				<key>tag</key>
				<integer>1000</integer>
				<key>visible</key>
				<true />
				<key>zOrder</key>
				<integer>0</integer>
				<key>actions</key>
				<array />
				<key>accelerometerEnabled</key>
				<integer>0</integer>
				<key>keyboardEnabled</key>
				<integer>1</integer>
				<key>mouseEnabled</key>
				<integer>0</integer>
				<key>touchEnabled</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>stageHeight</key>
		<integer>500</integer>
		<key>stageWidth</key>
		<integer>320</integer>
	</dict>
</plist>